*
{
    margin: 0px;
}.Landingpage-main-div
{
    /*background-color: rgba(65, 145, 43, 0.579);
    
    background-color: rgba(124, 235, 94, 0.81);
    */
    width: 100vw;
    height: 100vh;
}
.svg-img
{
    position: absolute;
    z-index: -1;
}
.landing-page-img
{
    height: 60px;
    margin: 10px;
    
 }
 
.Landingpage-cname
{
    font-size: 30px;
    /*color: rgb(159, 201, 179);*/
    color: rgb(12, 85, 19);
    
    padding: 10px;
    margin-bottom: 40px;
    background-color: rgba(5, 107, 55, 0.3);
    margin: 10px 30px 50px 30px;
    
}

.Login-input-forget-password
{
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    color: #000;
    padding: 3px;
    border-bottom: 3px solid rgb(69, 83, 47);
    border-radius: 3px;
    
    background-color: rgba(5, 107, 55, 0.3);
}
.Login-input-forget-password:hover
{
    background-color: chartreuse;
}

.Loginpage-heading-form
{
    text-align: center;
    margin-top: 130px;
    
    background-color: rgba(20, 214, 114, 0.3);
    height: 400px;
    padding-top: 30px;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

.Loginpage-heading-form:hover
{
    background-color: rgba(10, 245, 124, 0.3);
}
/*
.Landingpage-nav-logo-detail-main
{
    display: block;
}
.Loginpage-nav-bar-main
{
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    text-decoration: none;
    
    font-size: 20px;
    font-weight: 900;
    padding: 20px;
    background-color: rgb(60, 128, 17);
}
.Loginpage-nav-bar-link
{
    text-decoration: none;
    color: rgb(255, 253, 253);
    
    border-bottom: 2px solid rgb(250, 248, 248);
    padding: 6px;
}
.Loginpage-nav-bar-link:hover
{
    background-color: darkgreen;
    padding: 3px;
}
.Landingpage-logo-main
{
    padding: 20px;
    width: 90%;
    text-align: center;
}
.landingpage-logo
{
    width: 100px;
    height: 100px;
    padding-top: 6%;
    padding-bottom: 1%;
}
.Landingpage-content-button
{
    font-size: 20px;
    background-color: rgb(49, 146, 115);
    border-radius: 30px;
    padding: 10px 80px 10px 80px;
    border: 0px;
}
.Landingpage-content-button:hover
{
    background-color: green;
}
.Loginpage-sign-in-button-link
{
    text-decoration: none;
    color: rgb(18, 247, 6);
    font-weight: 600;
}
.Login-entry-box
{
    background-color: rgb(126, 124, 119);
    width: 80%;
    margin-left: 8%;
}*/
.Landingpage-signin-head
{
    display: flex;
    background-color: rgb(63, 36, 36);
    justify-content: center;
    padding: 10px;
    margin-bottom: 30px;
}
.Login-peoples-icon
{
    
    
    font-size: 50px !important;
    color:rgb(253, 251, 251);

}
.Login-peoples-icon-data
{
    
    color:rgb(253, 251, 251);
    margin-left: 10px;
    margin-top: 18px;

}
.Login-input
{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    padding-top: 7px;
    background-color: rgb(238, 245, 241);
    border-radius: 6px;

box-shadow: 
             -5px -5px 10px #161615;

}
.Login-input-icon
{
    margin-left: 10px;
    position: absolute;
    margin-top: 6px;
    font-size: 26px !important;
    border-right: 2px solid black;
    padding-right: 10px;
}
.Login-input-button
{
    text-decoration: none;
    font-size: 35px;
    padding: 0px 20px 0px 20px;
    
    color: rgb(158, 153, 153);
    font-weight: 600;
}
.Login-input-button-submission
{
    
    background-color: rgb(33, 94, 72);
    border-radius: 4px;
    border: 0px;
    margin: 20px;
}
.Login-input-button-submission:hover
{
    background-color: rgb(29, 124, 91);
    cursor: pointer;
}

.landing-page-img-body
{
    height: 100vh;
    width: 40vw;
  background-color: rgb(118, 134, 59);
     
}
.Landingpage-left
{
    height: 70vh;
    width: 70%;
    background-color: rgb(236, 240, 233);
    text-align: center;
    border-right: 4px solid rgb(52, 78, 9);
    margin:15%;
}
.Landingpage-lest-heading
{
    font-size: 40px;
    padding: 20px;
    
    border-bottom: 10px solid rgb(52, 78, 9);
} 
