/**{
    margin: 0px;
}
.Login-main
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    
    background: url("./back.jpg");
}
.Login-side-img
{
    margin-top: 20px;
}
.Login-entry-box
{
    text-align: center;
    background-color: grey;

}
.Login-peoples-icon
{
    size: 30px;
    height: 40px;
    width: 40px;
    font-size: 60px;
    
    font-size: 50px !important;
    background: none;
    color:rgb(253, 251, 251);
    justify-content: center;
}
.Login-side-img
{
    padding: 100px;
    border: 20px solid black;
    background-color: blue;
    margin-top: 20px;
}
.Login-entry-box
{
    
    padding: 100px;
    padding-top: 70px;
    border: 4px solid black;
    
    margin: 60px;

    border-radius: 50px;
    
    background-color: rgb(23, 23, 24);

box-shadow: inset 21px 21px 43px #0a0a0a,
            inset -21px -21px 43px #424141;
}
.Login-side-img
{
    
    border: 4px solid black;
    
    margin: 60px;
    justify-content: center;
    border-radius: 50px;

}
.Login-side-img
{
    border: 10px solid black;
    text-align: center;
    padding: 30px;
    padding-top: 90px;
}
.Login-entry-box
{
    border: 10px solid green;
    padding: 130px;
}
.Login-input
{
    font-size: 25px;
    margin: 4px;
    text-align: center;
    font-weight: 600;
    background-color: rgb(75, 62, 62);
    color: rgb(243, 241, 237);
    border: 0px;
    
}

.Login-input:hover
{
    background-color: rgb(17, 16, 16);
   
    
}
.Login-input-button
{
    font-size: 25px;
    width: 60%;
    margin-left: 20%;
    font-weight: 900;
    cursor: pointer;
    background-color: rgb(4, 248, 4);
    border: 6px solid rgb(30, 75, 7);
    border-radius: 8px;
    color: rgb(54, 30, 5);

}
.Login-input-button:hover
{
    background-color: rgb(3, 49, 3);
}
.Login-message
{
    text-align: center;
    font-weight: 900;
    padding: 10px;
    
    color: rgb(250, 159, 3);
    background-color: rgb(12, 12, 12);
    border: 3px solid black;

    
background: linear-gradient(145deg, #161616, #534e4e);
box-shadow:  11px 11px 13px #202020,
             -11px -11px 13px #080000;
}
.Login-footer
{
    background-color: black;
    text-align: center;
    font-size: 40px;
    color: rgb(189, 178, 178);
}
*/